:root {
  --bg-primary: #2F2E41;
  --highlight-color: #00BFA6;
  --text-color-primary: #FFFFFF;
  --text-color-secondary: #C2C2C2;
  --font-family-secondary: 'Open Sans', sans-serif;

  font-family: 'JetBrains Mono', monospace;

}

body {
  background-color: var(--bg-primary);
  color: var(--text-color-primary);
  height: 720px;
  overflow: hidden;
  margin: 0;
}

.header {
  margin: 70px auto;
  width: 1080px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 64px;
}

.header ul li a {
  text-decoration: none;
  color: var(--text-color-primary);
}

.header ul li a:hover {
  color: var(--highlight-color);
}

main {
  width: 1090px;
  margin: 100px auto 140px;
  display: flex;
  justify-content: flex-start;
  gap: 77px;
  text-align: center;
}

.content {
  max-width: 615px;
}

.content h1 {
  margin: 0;
  font-size: 36px;
}

.content span {
  font-weight: bold;
  color: var(--highlight-color);
}

.content p {
  margin-top: 60px;
  font-family: var(--font-family-secondary);
  color: var(--text-color-secondary);
  line-height: 28px;
}

footer {

  border-top: 1px solid var(--highlight-color);
  width: 570px;
  text-align: center;
  padding-top: 20px;
  margin: 0 auto;
}

footer a {
  text-decoration: none;
  color: var(--text-color-primary);
  font-size: 14px;
}

footer a:hover {
  color: var(--highlight-color);
}

.padlock {
  position: absolute;
  bottom: 20px;
  left: 20px;
}