:root {
  --bg-primary: #2F2E41;
  --highlight-color: #00BFA6;
  --text-color-primary: #FFFFFF;
  --text-color-secondary: #C2C2C2;
  --font-family-secondary: 'Open Sans', sans-serif;

  font-family: 'JetBrains Mono', monospace;

}

body {
  background-color: var(--bg-primary);
  color: var(--text-color-primary);
}

.header {
  width: 1080px;
  margin: 70px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 64px;
}

.header ul li a {
  text-decoration: none;
  color: var(--text-color-primary);
}

main {
  width: 1090px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  gap: 77px;
  text-align: center;
}

.content {
  max-width: 600px;
}

.content h1 {
  margin: 0;
}

.content span {
  font-weight: bold;
  color: var(--highlight-color);
}

.content p {
  margin-top: 60px;
  font-family: var(--font-family-secondary);
  color: var(--text-color-secondary);
}